## Question-1:

* prime numbers:need to print the series of all prime numbers till n
* input formate:10
* output formate:2 3 5 7

In [29]:
r=int(input("Enter value "))
for a in range(2,r+1):
    k=0
    for i in range(2,a//2+1):
        if(a%i==0):
            k=k+1
    if(k<=0):
        print(a)

Enter value 10
2
3
5
7

# Question-2:

* Count Divisors: You have been given 3 integers - l, r and k. Find how many numbers between l and r (both inclusive) are divisible by k.
* Input Format:1 10 1
* Output Format:10

In [45]:
a=int(input("enter lower value"))
b=int(input("enter upper value"))
c=int(input("enter divisible number"))
count=0
for d in range(a,b+1):
    if(d%c)==0:
        count+=1
print(count)

enter lower value1
enter upper value10
enter divisible number1
10

# Question-3:

* Word Frequency: need to print words with frequency from given sentence (string) in dictionary format
* Input Format:
* ravi ramu balu ravi raghu
* Output Format:{“ravi”:2, “ramu”:1, “balu”:1, “raghu”:1}

In [46]:
s="ravi","ramu","balu","ravi","raghu"
d={}
for char in s:
    d[char]=d.get(char,0)+1
d

{'ravi': 2, 'ramu': 1, 'balu': 1, 'raghu': 1}